doctype html
//- <!DOCTYPE html>
html
  head
    //- <meta charset="utf-8">
    meta(charset="utf-8")
    link(href="/build/combined.css", rel="styleSheet", type="text/css")

    title= pageTitle

    //<div id="container">
    //  <div data-kit-editor="" class="kit-editor">
    //  </div>
    //</div>

  body(data-ng-app="kitApp")
    #container
      .kit-editor(data-kit-editor)
        //- button(data-ng-click="center($event)" {{ editor.testValue | uppercase }}
        button(data-ng-click="center($event)" data-ng-bind="editor.testValue | uppercase")
        div(data-kit-pallete)

        div.ui-router-test
          a(ui-sref='test123') Перейти на страницу /test
          div(ui-view)

  //- <script src="/build/combined.js"></script>
  script(src="/build/combined.js")
