g [data-kit-custom-shape], g [data-kit-custom-shape] path, [data-moniker] g {
  fill-rule: evenodd;
}

g [data-kit-custom-shape]{
  &.dragging, &.dragging path{
    fill-opacity: 0.6;
    stroke-opacity: 0.6;
    cursor: move;
  }
}

g [data-kit-rect],
[data-moniker*=rect],
[data-moniker*=t-shape],
[data-moniker*=triangle]{
  fill: orange;
  stroke-width: 1.5;
  stroke: #000;
}

g [data-kit-t-shape] {
  fill: orange;
  fill-rule: evenodd;
  stroke-width: 1.5;
  stroke: #000;
}

g [data-kit-triangle] {
  fill: orange;
  fill-rule: evenodd;
  stroke-width: 1.5;
  stroke: #000;
  //opacity: 0.5;
}

.screw {
  &.outer-hex {
    fill: grey;
    fill-opacity: .85;
  }
  &.inner-hex {
    fill: #000;
    fill-opacity: .85;
  }
}

g [data-kit-custom-shape] {

}

g [data-kit-gear], [data-moniker*=gear] {
  .gear {
    fill-opacity: .85;
    stroke: gray;
    stroke-opacity: .25;
  }

  .gear-inner-circle {
    fill: #f50500;
    stroke: gray;
  }

  .gear-outer-circle {
    fill: #dd0903;
  }
}
